.saveLocal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(360px);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.6s;

  &--opened {
    transform: translateX(-50%) translateY(0);
  }

  & > button {
    width: 100px;
    padding: 40px 10px 0;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #cddc39 url("../../save.png") center 6px no-repeat/28px;
    box-shadow: 0 0 32px 10px #000, inset 0 0 10px #000;
    cursor: pointer;
    outline: none;
  }

  & .saveLocal__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #191919;
    border-radius: 5px;
    box-shadow: 0 0 10px #000, inset 0 0 10px #000;

    & textarea {
      height: 250px;
      width: 400px;
      margin-bottom: 20px;
      background: #000;
      border: none;
      border-radius: 10px;
      color: red;
      padding: 10px;
    }

    & button {
      padding: 5px 20px;
      border: none;
      font-size: 18px;
      font-family: "Caveat", cursive;
      background: #cddc39;
      box-shadow: 0 0 10px #cddc39;
    }
  }
}
