.card__wrap {
  max-width: calc(100% - 170px);
  box-sizing: border-box;
  display: flex;
  padding: 40px;
  perspective: 500px;
}

.card {
  position: absolute;
  width: 18vw;
  min-width: 14vw;
  max-width: 150px;
  height: 300px;
  margin-right: -11vw;
  padding: 20px 16px;
  overflow: hidden;
  order: 2;

  font-size: 13px;
  line-height: 20px;

  border-radius: 10px;
  box-shadow: 0 0 47px 7px #000;
  transform: rotate3d(-3, 25, -12, 15deg) translateY(-50px);
  transition: all 0.6s, padding 0s;

  &:nth-child(n + 11) {
    left: 40px + 16 * 60;
    opacity: 0;
    z-index: 0;
  }

  @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
      top: $i * 5px;
      left: 40px + $i * 130;
      z-index: $i;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #191919;
  }

  &::after {
    opacity: 0.2;
    background: url("../../hacker.png") right bottom no-repeat/110px;
  }

  &__hovered {
    &:nth-child(n) {
      max-width: 220px;
      z-index: 20;
      transform: translateZ(0) translateX(-60px);
    }
  }

  &__rotated {
    &:nth-child(n) {
      left: 5vw;
      top: 10%;
      width: 58vw;
      min-width: 900px;
      max-width: 58vw;
      height: 48vh;
      z-index: 21;
      transform: translateZ(0);
      opacity: 1;
    }
  }

  & h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
  }
  &__hovered h2,
  &__rotated h2 {
    text-align: center;
    font-size: 22px;
  }

  & p,
  & span {
    color: #b5b5b5;

    &.comment {
      color: rgb(158, 158, 158);
    }

    &.function {
      color: chocolate;
      font-weight: bold;
      font-size: 14px;
    }

    &.key {
      color: tomato;
      font-size: 12.8px;
      font-weight: lighter;
    }

    &.value {
      color: indianred;
    }

    &.name {
      color: #cddc39;
    }
  }

  & b {
    padding: 0 3px;
    white-space: pre;
    color: #fff;
  }

  & code {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    padding: 0 3px;
    white-space: pre;
    color: #2196f3;
  }

  & pre {
    margin: 0;
    display: inline-block;
    color: #b5b5b5;
  }

  & a {
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
    padding: 17px 15px;
    display: inline-block;
    border-radius: 50%;
    color: #ffdbdb;
    background: #d62e07;
    box-shadow: 0 0 17px #000000, inset 0 0 10px #171616;

    transition: 0.6s;

    &:hover {
      transform: translate(26px, -13px) scale(1.2, 1.2);
    }
  }

  & button {
    opacity: 0;

    @at-root .card__rotated button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      border-radius: 50%;
      color: #ffdbdb;
      background: #d62e07;
      box-shadow: 0 0 17px #000000, inset 0 0 10px #171616;
      opacity: 1;
      cursor: pointer;
    }
  }

  & .wrap__nodeText {
    height: 181px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    opacity: 0;
    transition: all 0.6s, opacity 0s;
  }

  &__hovered .wrap__nodeText,
  &__rotated .wrap__nodeText {
    position: relative;
    height: 68%;
    overflow-y: auto;
    padding-right: 10px;
    opacity: 1;
    transition: all 0.6s ease-in;
  }

  &__rotated .wrap__nodeText {
    height: 85%;
    // animation: makevisible .6s ease-in-out delay iteration-count direction fill-mode;
    animation: makevisible 0.8s ease-out;
  }
}

@keyframes makevisible {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
