.card {
  position: relative;
  flex: 0 0 220px;
  height: 300px;
  margin-right: 50px;
  padding: 20px 16px;
  overflow: hidden;

  font-size: 13px;
  line-height: 20px;

  border-radius: 10px;
  box-shadow: 0 0 47px 7px #000;
  transform: rotate3d(2, -26, 0, 28deg);
  transition: all 1s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #191919;
  }

  &::after {
    opacity: 0.4;
    background: url("../hacker.png") center 227px no-repeat/110px;
  }

  &--rotated,
  &:hover {
    transform: scale(1.1, 1.1);
  }

  & h2 {
    margin: 0 0 20px;
    font-size: 22px;
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
  }

  & p,
  & span {
    color: #eee;
  }

  & b {
    color: #fff;
  }

  & code {
    color: #2d9bd8;
  }
}

@for $i from 1 through 5 {
  h#{$i} {
  }
}
