.cards {
  flex: 0 0 200px;
  height: 300px;
  margin-right: 50px;
  padding: 25px;

  font-size: 14px;

  background: #3d3d3d;
  box-shadow: 0 0 10px #000;

  & h2 {
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
    font-family: Baloo Bhai;
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
  }

  & p,
  & span {
    color: #eee;
  }

  & b {
    color: #fff;
  }

  & code {
    color: #2d9bd8;
  }
}

@for $i from 1 through 5 {
  h#{$i} {
  }
}
